
.floatR{float:right;}	
.floatL{float:left;}
.clean{clear:both;}	
.close{display:none;}	
.open{display:block;}


.color1{ background-color:#ecf0e7;}
.color2{ background-color:#b8cca6;}
.color3{ background-color:#9fbed1;}
.color4{ background-color:#ebf3fa;}
/*
.color1{ background-color:#d95715;}
.color2{ background-color:#2e8dcd;}
.color3{ background-color:#1ea097;}
.color4{ background-color:#894c15;}
    */